{% extends 'base.html' %}

{% block title %}Tasks{% endblock %}

{% block content %}

<h2 style="margin-bottom: 15px; color: white;">Task List</h2>

<div class="content-card">
    <table class="task-table">
        <thead>
            <tr>
                <th>Task</th>

                {% if is_admin %}
                    <th>Assigned To</th>
                {% endif %}

                <th>Status</th>

                {% if not is_admin %}
                    <th>Update</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>

                {% if is_admin %}
                    <td>{{ task.assigned_to.username }}</td>
                {% endif %}

                <td>
                    <span class="status {{ task.status|lower|cut:' ' }}">
                        {{ task.status }}
                    </span>
                </td>

                {% if not is_admin %}
                <td>
                    {% if task.status == "Completed" %}
                        <span class="status completed">Completed</span>
                    {% else %}
                        <form method="post" action="{% url 'update_status' task.id %}">
                            {% csrf_token %}
                            <select name="status">
                                <option value="Pending" {% if task.status == 'Pending' %}selected{% endif %}>Pending</option>
                                <option value="In Progress" {% if task.status == 'In Progress' %}selected{% endif %}>In Progress</option>
                                <option value="Completed">Completed</option>
                            </select>
                            <button type="submit" class="update-btn">Update</button>
                        </form>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" style="text-align:center;">No tasks found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
